@model StartBannerArea
@{
	ViewData["Title"] = "Delete";
}

<h1>Delete Start Banner Area</h1>
<div>
	<form method="post" asp-action="delete" enctype="multipart/form-data">
		<div class="row">
		<div class="mb-3 col-md-3">
			<label asp-for="Title1" class="form-label">Title1</label>
			<input  class="form-control" asp-for="Title1" placeholder="Title">
			<span class="text-danger" asp-validation-for="Title1"></span>
		</div>
		<div class="mb-3 col-md-3">
			<label asp-for="Title2" class="form-label">Title2</label>
			<input  class="form-control" asp-for="Title2" placeholder="Title2">
			<span class="text-danger" asp-validation-for="Title2"></span>
		</div>
		<div class="mb-3 col-md-3">
			<label asp-for="Title3" class="form-label">Title3</label>
			<input  class="form-control" asp-for="Title3" placeholder="Title3">
			<span class="text-danger" asp-validation-for="Title3"></span>
		</div>
		<div class="mb-3 col-md-2">
			<label asp-for="ButtonText" class="form-label">ButtonText</label>
			<input  class="form-control" asp-for="ButtonText" placeholder="ButtonText">
			<span class="text-danger" asp-validation-for="ButtonText"></span>
			
		</div>
		<div class="mb-3  col-md-2 ">
			<label asp-for="URL" class="form-label">URL</label>
			<input  class="form-control" asp-for="URL" placeholder="URL">
			<span class="text-danger" asp-validation-for="URL"></span>
		</div>
	@*	<div class="mb-3  col-md-2">
			<label asp-for="Img" class="form-label">Img</label>
			<input  class="form-control" asp-for="Img" placeholder="Img">
		</div>*@
		<div class="mb-3 col-md-2" style="margin-bottom:20px">
			<label asp-for="FromFile" class="form-label">FromFile</label>
			<input  class="form-control" asp-for="FromFile" placeholder="FromFile">
			<span class="text-danger" asp-validation-for="FromFile"></span>
			</div>
			

			<div style ="display:flex; justify-content:center;align-items:center">

		     <button type="submit" class="btn btn-primary">Delete</button>
	</form>
</div>


